{% load static %}
<header class="header">
    <div class="top-bar bg-dark text-white">
      <div class="container">
        <div class="row gx-0">
          <div class="col-lg-4 bg-primary py-2 text-center text-lg-start d-none d-lg-flex align-items-center">
            <p class="mb-0 text-sm"><i class="fas fa-clock me-2"></i>Opening hours: Mon - Sat 9:00 - 18:00</p>
          </div>
          <div class="col-lg-8 text-end py-2 text-center text-lg-end">
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a class="fw-normal text-sm reset-anchor" href="#!"><i class="fas fa-mobile me-2"></i>+535 421 895 6523</a></li>
              <li class="list-inline-item">|</li>
              <li class="list-inline-item"><a class="fw-normal text-sm reset-anchor" href="#!"><i class="fas fa-envelope me-2"></i>Construction@example.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light py-0 bg-white shadow-sm">
      <div class="container">
        <!-- <a class="navbar-brand" href="index.html"><img src="img/call2fix.png" alt="" width="50" height="50"></a> -->
        <a class="navbar-brand" href="index.html" style="display: inline-block; width: 300px; height: 100px; background-image: url('{% static "img/call2fix-bg_1.png" %}'); background-size: cover; background-position: center;"></a>

        <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto align-items-lg-center">
            <li class="nav-item mx-2">
              <!-- Link--><a class="nav-link text-uppercase active" href="index.html">Home</a>
            </li>
            <li class="nav-item mx-2">
              <!-- Link--><a class="nav-link text-uppercase" href="about.html">Earn</a>
            </li>
            <li class="nav-item ms-2 dropdown">
              <!-- Link--><a class="nav-link text-uppercase dropdown-toggle pe-0" id="navbarDropdownMenuLink" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Request a Service</a>
              <div class="dropdown-menu mt-lg-4 text-sm" aria-labelledby="navbarDropdownMenuLink"><a class="dropdown-item" href="index.html">Make an Online Request</a><a class="dropdown-item" href="about.html">Call now</a></div>
            </li>
            <li class="nav-item mx-2">
              <!-- Link--><a class="nav-link text-uppercase" href="contact.html">Alpha Mead</a>
            </li>
      
            <!-- <li class="nav-item ms-lg-3 ps-lg-3"><a class="btn btn-outline-primary btn-sm" href="contact.html">Request a quote</a></li> -->
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Hero Slider -->